<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">trending_up</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Customers</p>
                            <h3 class="title">{{totalusers.total_users}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                  
                                 <p class="category">{{weeklyusers.week_users}}  last week customers.</p>
                                 <p class="category" *ngIf = "weeklyusers.week_increase_users<0"><span class="text-danger"><i class="fa fa-long-arrow-down"></i> {{weeklyusers.week_increase_users}}% </span> increase in last week.</p>
                                 <p class="category" *ngIf = "weeklyusers.week_increase_users>=0"><span class="text-success"><i class="fa fa-long-arrow-up"></i> {{weeklyusers.week_increase_users}}% </span> decrease in last week.</p>
                                 <!-- <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a> -->
                                <!-- <p class="category" style="color:gg">10%</p>
                                <p class="category" style="color:red">-10%</p> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="green">
                            <i class="material-icons">store</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Revenue</p>
                            <h3 class="title">{{totalrevenue.total_revenue}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                    <p class="category">{{totalrevenue.week_revenue}}  last week revenue.</p>
                                 <p class="category" *ngIf = "totalrevenue.week_increase_revenue<0"><span class="text-danger"><i class="fa fa-long-arrow-down"></i> {{totalrevenue.week_increase_revenue}}% </span> increase in last week.</p>
                                 <p class="category" *ngIf = "totalrevenue.week_increase_revenue>=0"><span class="text-success"><i class="fa fa-long-arrow-up"></i> {{totalrevenue.week_increase_revenue}}% </span> decrease in last week.</p>
                                
                                <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="red">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <div class="card-content">
                            <p class="category">Total Transactions</p>
                            <h3 class="title">{{totaltransactions.total_transactions}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <p class="category">{{weeklytransactions.week_transactions}}  last week transactions.</p>
                                 <p class="category" *ngIf = "weeklytransactions.week_increase_transactions<0"><span class="text-danger"><i class="fa fa-long-arrow-down"></i> {{weeklytransactions.week_increase_transactions}}% </span> increase in last week.</p>
                                 <p class="category" *ngIf = "weeklytransactions.week_increase_transactions>=0"><span class="text-success"><i class="fa fa-long-arrow-up"></i> {{weeklytransactions.week_increase_transactions}}% </span> decrease in last week.</p>
                                <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats" >
                        <div class="card-header" data-background-color="blue">
                                <!-- <i class="material-icons">info_outline</i> -->
                            <i class="material-icons">star</i>
                        </div>
                        <div class="card-content">
                            <!-- <p class="category">Weekly Users</p> -->
                        
                            <p class="category" >Restaurant <br /> Rating</p>
                            <h3 class="title">{{usersoverview.rating}}</h3>
                            
                        </div>
                        <div class="card-footer">
                                
                               
                            <div class="stats">
                                    <p class="category">{{usersoverview.new_users}} new users last week.</p>
                                    <p class="category">{{usersoverview.returning_users}} returning users last week.</p>
                                <!-- <i class="material-icons">update</i> Just Updated -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="green">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Daily Sales</h4>
                            <p class="category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in today sales.</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="orange">
                            <div class="ct-chart" id="emailsSubscriptionChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Email Subscriptions</h4>
                            <p class="category">Last Campaign Performance</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card" >
                        <div class="card-header card-chart" data-background-color="red">
                            <div class="ct-chart" id="completedTasksChart"></div>
                        </div>
                        <div class="card-content">
                            <h4 class="title">Completed Tasks</h4>
                            <p class="category">Last Campaign Performance</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> campaign sent 2 days ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- <div class="col-lg-6 col-md-12">
                    <div class="card card-nav-tabs" >
                        <div class="card-header" data-background-color="purple">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <span class="nav-tabs-title">Tasks:</span>
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="active">
                                            <a href="#profile" data-toggle="tab">
                                                <i class="material-icons">bug_report</i>
                                                Bugs
                                            <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="">
                                            <a href="#messages" data-toggle="tab">
                                                <i class="material-icons">code</i>
                                                Website
                                            <div class="ripple-container"></div></a>
                                        </li>
                                        <li class="">
                                            <a href="#settings" data-toggle="tab">
                                                <i class="material-icons">cloud</i>
                                                Server
                                            <div class="ripple-container"></div></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="card-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="profile">
                                    <table class="table">
                                        <tbody>
                                            <tr  *ngFor="let i of successfulloffer.current">
                                              
                                                    <td>1</td>
                                                    <td>{{i.name}}</td>
                                                    <td>{{i.value}}</td>
                                                    <td>Niger</td>
                                          
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                               
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="messages">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="settings">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                                </td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label>
                                                            <input type="checkbox" name="optionsCheckboxes">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Sign contract for "What are conference organizers afraid of?"</td>
                                                <td class="td-actions text-right">
                                                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
                                                        <i class="material-icons">edit</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-6 col-md-12">
                        <div class="card" >
                            <div class="card-header" data-background-color="purple">
                                <h4 class="title">Trending Offers</h4>
                                <p class="category">The most loved offers by your customers</p>
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Transactions</th>
        
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngIf="successfulloffer.current && successfulloffer.current.length ==0">
                                                <td>1</td>
                                                <td>Sorry No data to generate values</td>
                                               
                                        </tr>
                                        <tr  *ngFor="let i of successfulloffer.current">
                                            <td>1</td>
                                            <td>{{i.name}}</td>
                                            <td>{{i.count}}</td>
                
                                        </tr>
                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="orange">
                            <h4 class="title">Customer Loyality</h4>
                            <p class="category">Numbers of customers vs reward point range</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>Range</th>
                                        <th>Total</th>
                                        <!-- <th>Transactions</th> -->
    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="usersrewardpoints.userholding && usersrewardpoints.userholding.length ==0">
                                        <td>1</td>
                                        <td>Sorry No data to generate values</td>
                                               
                                    </tr>
                                    <tr  *ngFor="let i of usersrewardpoints.userholding">
                                        <td>{{i.label}}</td>
                                        <td>{{i.count}}</td>

                                    </tr>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
