<!-- <form >
	<div class="form-group">
		<label for="uname">Username:</label>
		<input type="text" id="uname" class="form-control" name="username">
	</div>
	<div class="form-group">
		<label for="pwd">password:</label>
		<input type="password" id="pwd" class="form-control"  name="password">
	</div>	
	<button routerLink="/homepage" type="submit" class="btn-default" > login</button>
</form>
<button md-button>FLAT</button>
<md-checkbox> Subscribe to news letter</md-checkbox>
<md-input-container  dividerColor="accent">
	<input type="text" mdInput placeholder="Username">
</md-input-container> -->

<!-- <div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Login</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
        </div>
    </form>
</div> -->
<div class="main-content">

        <div class="container-fluid">
            <div class="row">
<div class="container">
        <!-- class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto" -->
        <div class="col-lg-4 col-md-6 col-md-offset-3 col-sm-6 ml-auto mr-auto" >
          <form action="" class="form ng-untouched ng-pristine ng-valid" method="" novalidate="">
            <div class="card">
              <div class="card-header  text-center" data-background-color="red">
                <h4 class="card-title">Log in</h4>
                
              </div>
              <div class="card-content">
                    <div id="typography">
                <!-- <div class="row"> -->
                <div class="row">
                        <!-- <div class="col-md-1"></div> -->
                        <div class="col-md-2">
                                <i class="material-icons">email</i>
                        </div>
                        <div class="col-md-7">
                            <mat-input-container  dividerColor="accent">
                            <input type="text" [(ngModel)]="model.username" name="name" matInput placeholder="Email" >
                            </mat-input-container >
                        </div>
                        
                    </div>
                    <div class="row">
                            <!-- <div class="col-md-1"></div> -->
                            <div class="col-md-2">
                                    <i class="material-icons">lock_outline</i>
                            </div>
                            <div class="col-md-7">
                                <mat-input-container  dividerColor="accent">
                                <input type="password" [(ngModel)]="model.password" name="password" matInput placeholder="Password" >
                                </mat-input-container >
                            </div>
                            
                        </div>
                </div>
              </div>
              <div class="card-footer center" style="text-align:center;">
                    <button  class="btn" (click)="login()" >Log In</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      </div>
      </div>
</div>